.body {

    background-color: #fdfdfd;

    font-family: 'Nobile' sans-serif;
}

/*----------JUMBOTRON----------*/



#landing-view {

    background-attachment: fixed;

    background-image: url('../images/Wrest_Park_Bedfordshire.jpg');

    background-position: bottom;

    background-size: cover;

    height: 100vh;

    width: 100vw;

    margin-bottom: 0px;

    z-index: 1;

}



#top {

    padding:2rem 1rem;


}



h1 {

    padding-top: 45%;
  


    font-size: 4.5em;
    color:#ffffff;
   

}
@media screen and (max-width:578px) {
    h1 {
        font-size:2.5em;
    }
}
@media screen and (max-width:578px) {
   h1 {
       padding-top: 130%;
   }
}



.main {

    font-size:2em;
    color:#ffffff;
    padding-top: 0;
    margin-top:0;

}

/*------------ABOUT US----------*/






h2 {
font-size: 4em;
font-weight: 200;
    margin-left: 15px;

    margin-top:10px;
    padding:2rem 1rem;

    letter-spacing: 6px;

    text-transform: uppercase;
    color:#ffffff;

}



 .about-p {

    font-size:0.75em;
    font-weight: 300;
    color:#ffffff;
    margin-left:15px;
    margin-right: 25px;
   
    margin-top: 0px;
 }
 @media screen and (min-width:768px) {
     .about-p {
         font-size:1em;
     }
 }

  


#about-user {

  background-attachment: fixed;

    background-image: url('../images/woburn.jpg');

    background-position: bottom;

    background-size: cover;

    height: 100vh;

    width: 100vw;

    margin-bottom: 0px;

    z-index: 1;
}

#event{

    background-attachment: fixed;

    background-image: url('../images/fun ashridge.jpg');

    background-position: center;

    background-size: cover;

    width: 100vw;

    padding-bottom: 50px;

    background-repeat: no-repeat;

    position: relative;

    font-weight: 300;

    margin-bottom: 0px;

}



.card-body .row {

    text-align: center;

    padding-top: 10px;

}



.project-cards {

    display: inline-table;

    justify-content: center;

    align-items: center;



}



.col-xs-6 {

    align-items: center;

}



.card {

    background-color: #fdfdfd;

    border-radius: 2.5%;

    width: 18em;

    height: 18em;

    top: 50%;

    left: 0;

    margin: 15% auto;

    padding: 15px;

    align-items: center;

    z-index: 2;

    display: block;

    opacity: 0.8;

    transition: all .3s ease-in;

    -moz-transition: all .3s ease-in;

    -webkit-transition: all .3s ease-in;

}

.card:hover {
    opacity:1;
    
}


.card-text {
    color:blue;
}
  





.card-title {

    font-size: 1.25em;

    font-weight: bold;

}



.card-subtitle {

    font-size: 1.1em;

    font-weight: bold;

}



.card-body .card-text {

    font-size: 1em;
    color:#000000;

}


#find {

    background-attachment: fixed;

    background-image: url('../images/bridge.jpg');

    background-position: bottom;

    background-size: cover;

    height: 100vh;

    width: 100vw;

    margin-bottom: 0px;

    z-index: 1;

}

h2 {
    font-size:4em;
}


   
  

.section-paragraph {
    color:#ffffff;
   
    font-size:1.5em;
    margin-left: 15px;
    margin-top:3px;
    margin-right: 25px;
}
@media screen and (max-width:600px) {
    .section-paragraph {
        font-size:1em;
    }
.image {
    float:right;
  width:100px;
  height:100px;
  transition-property:width;
  transition-duration:2s;
}
.image:hover{
    width:200px;
}
}

h3 {
    color:#ffffff;
    margin-left:15px;
}

.paside {
    color: #ffffff;
    margin-right:15px;
}
.col-md-4 {
    text-align:center;
}
.article,.aside {
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

#contact {

    background-attachment: fixed;

    background-image: url('../images/tulips.jpg');

    background-position: left;

    background-size: cover;

   height: 100vh;
   width: 100vh;
   margin: bottom;
   z-index: 1;

}

#alert {
    background-color:yellow;
    margin-top:70%;
    font-size: 1em;
  
}

.contact-form {

    position: relative;

    top: 6%;
    left:200px;

}
@media screen and (max-width:600px) {
    .contact-form {
        left:75px;
    }
    
}
.input {
    width:60%;
}



#contact-head {

    margin: 15px -11px 25px 0px;
    font-size:4em;
  color:#000000;

}
@media screen and (max-width:578px) {
    #contact-head {
        font-size:1.5em;
     
    }
}



.contact {

    margin: 15px 0px 15px 0px;

}
.alert {
    color:yellow;
}
    
  












  












   












