.body {
background-color: #fdfdfd;
    font-family: 'Nobile'100,200,300,400, sans-serif;
    position:relative;
}

/*----------JUMBOTRON----------*/
#landing-view {
     background-attachment: fixed;
    background-image: url('../images/dayout.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0px;
}
@media screen and (max-width:768px){
    #landing-view {
        background-image: url('../images/gar.png');
        background-size:cover; 
        background-repeat: no-repeat;
    }
}
#top {
    padding:2rem 1rem;
    }
h1 {
    padding-top: 90px;
      font-size:4.5em;
      color:#ffffff;
    transition:2s ease-in-out;
   }
.jumbotron {
    background-color:rgba(0,0,0,0.3);
    margin-left: 70px;
    margin-top: 70px;
    }
.main {
    font-size:3.5em;
    color:#ffffff;
transition:2s ease-in-out;
}
@media screen and (max-width:578px){
    h1 {
        font-size:3em;
        padding-top: 100px;
    }
    .main {
        font-size:2.5em;
        }
    }
@media screen and (max-width:360px) {
    .jumbotron {
        margin-right: 0px;
        margin-left: 0px;
        margin-top:80%;
    }
    h1 {
        font-size:2em;
    }
    .main {
        font-size:1.5em;
    }
}

/*-----ABOUT US-----*/

h2 {
    font-size: 3.5em;
    font-weight: 200;
    margin-left: 15px;
     margin-top:50px;
    padding:2rem 1rem;
    letter-spacing: 6px;
    text-transform: uppercase;
    color:#ffffff;
}
.jumbotron-about {
    background-color:rgba(0,0,0,0.3);
    padding-bottom: 30px;
    margin-top: 0px;
    }
    .about-title {
        padding:20px 0 0 20px;
    }
.about-p {
    font-size:1.5em;
    font-weight: 300;
    color:#ffffff;
    margin-left:15px;
    margin-right: 25px;
    margin-bottom: 15px;
    margin-top: 30px; 
 }
 @media screen and (max-width:360px) {
    .about-p {
        font-size:0.3em;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;
    }
    h2 {
        font-size:4.5em;
        color:#ffffff;
        font-weight:300;
        margin-top: 5px;
        margin-left: 15px;
    }
    .jumbotron-about {
        background-color: rgba(0,0,0,0.3);
        margin-left: 0px;
        margin-right: 20px;
    }
}
@media screen and (min-width:1024px) {
    .jumbotron-about {
         margin-right: 0px;
         margin-left: 0px;
         height:100vh;
   }
   #about-user {
       background-size: contain;
       background-image: url('../images/spooky.jpg');
   }
   h2 {
       margin-left: 60px;
       margin-top: 70px;
   }
   .about-p {
       font-size:1.5em;
       margin-left: 65px;
   }
   }
  #about-user {
    background-attachment: fixed;
    background-image: url('../images/spooky.jpg');
    background-position: bottom;
    background-size: cover;
    margin-bottom: 0px;
    margin-top: 0px;
    padding:40px;
   }
@media screen and (max-width:768px){
    #about-user {
        background-size: cover;
        background-image: url('../images/spooky.jpg');
        background-repeat: no-repeat;
    }
    .about-p {
        margin-top: 0px;
        font-size:1.25em; 
    }
}
.event-section{
    background-attachment: fixed;
     background-image: url('../images/fun ashridge.jpg');
    background-position: bottom;
    background-size: cover;
    margin: 0px;
   background-repeat: no-repeat;
     }
.card-body .row {
    text-align: center;
    padding-top: 10px;
}
.col-xs-6 {
    align-items: center;
}
.card {
     background-color: #fdfdfd;
     border-radius: 15px;
     margin: 20px auto;
    padding: 15px;
    align-items: center;
    z-index: 2;
   opacity: 0.8;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.card:hover {
    opacity:1;
    }
.card-text {
    color:blue;
}
  .card-title {
    font-size: 1.25em;
    font-weight: bold;
}
.card-subtitle {
    font-size: 1.1em;
    font-weight: bold;
}
.card-body .card-text {
     font-size: 1em;
    color:#000000
}
.form-section {
     background-color: #5a5a5a;
     padding-top: 40px;
     padding-bottom:40px;
     color:#000000;
     overlay:0,0,0,0.3;
}
#contact-form {
    position: relative;
    top: 5%;
    margin-left:500px;
}
.input {
    width:300px;
}
.row contact {
    width:400px;
    }
.form-group{
    width:450px;
}
.btn btn-default {
    width:200px;
}
#contact-head {
    margin-top: 30px;
    margin-left: 200px;
    font-size:5em;
    color:#ffffff;
}
@media screen and (max-width:578px) {
    #contact-head {
      font-size: 1.5em;
      font-weight: 300;
    }
    #contact-form{
        margin-left: 0px;
    }
}
@media screen and (max-width:578px) {
    h2 {
        font-size:1.25em;
        margin-left:0px;
        }
}
 .icons {
    display:inline-block;
    padding:15px 40px;
    background-color:#AFEEEE;
    text-align:center;
    letter-spacing: 10px;
}
.icons:hover {
    color:#00008b;
}



   


    
   
 

   










  












   












